<div class="official flex flex-col justify-center my-2.5 mx-0">
    <div class="official"></div>
    <% if (theme.genshinimpact.official === true) { %>
        <div class="official-container">
            <img src="images/newest.png">
        </div>
    <% } %>
</div>