/* noto-sans-sc-regular - chinese-simplified */
@font-face {
  font-family: "HYWenHei-75";
  font-style: normal;
  font-weight: 750;
  font-display: swap;
  src: local("HYWenHei-75"),
    url("./HYWenHei-75.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./HYWenHei-75.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-sc-700 - chinese-simplified */
@font-face {
  font-family: "HYWenHei";
  font-style: normal;
  font-weight: 850;
  font-display: swap;
  src: local("HYWenHei"),
    url("./HYWenHei-HEW.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./HYWenHei-HEW.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./ubuntu-mono-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./ubuntu-mono-v15-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

